<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>KAC GPA Calculator</title>
    <link rel="stylesheet" href="style.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css?family=Molle:400i" rel="stylesheet">

</head>

<body>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <div>
        <h1 id="welcome">Welcome to the GPA Calculator!</h1>
    </div>
    <form method="post" action="/calculate">
        <div class="row">
            <div class="row">
                <div class="year col m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">

                            <h3>Please enter your grade out of 100 and the number of credits (1 or 0.5) it was worth for each class in your <strong>freshman</strong> year.</h3>
                            <div class="row">
                                <div class="input-field col m5">
                                    <input type="text" name="sg1" id="sg1">
                                    <label for="sg1">Grade</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="sc1" id="sc1a" value=1>
                                    <label for="sc1a">1</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="sc1" id="sc1b" value=0.5>
                                    <label for="sc1b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <br>
                                    <input type="hidden" value="no" name="sw1">
                                    <input type="checkbox" name="sw1" id="sw1" value="yes">
                                    <label for="sw1">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="sg2">
                                    <label for="sg2">Grade</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="sc2" id="sc2a" value=1>
                                    <label for="sc2a">1</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="sc2" id="sc2b" value=0.5>
                                    <label for="sc2b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="sw2">
                                    <br>
                                    <input type="checkbox" name="sw2" id="sw2" value="yes">
                                    <label for="sw2">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="sg3">
                                    <label for="sg3">Grade</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="sc3" id="sc3a" value=1>
                                    <label for="sc3a">1</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="sc3" id="sc3b" value=0.5>
                                    <label for="sc3b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="sw3"><br><input type="checkbox" name="sw3" id="sw3" value="yes">
                                    <label for="sw3">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="sg4">
                                    <label for="sg4">Grade</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="sc4" id="sc4a" value=1>
                                    <label for="sc4a">1</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="sc4" id="sc4b" value=0.5>
                                    <label for="sc4b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="sw4"><br><input type="checkbox" name="sw4" id="sw4" value="yes">
                                    <label for="sw4">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="sg5" id="sg5">
                                    <label for="sg5">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" id="sc5a" name="sc5" value=1>
                                    <label for="sc5a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc5" id="sc5b" value=0.5>
                                    <label for="sc5b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="sw5"><br><input type="checkbox" name="sw5" id="sw5" value="yes">
                                    <label for="sw5">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="sg6">
                                    <label for="sg6">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc6" id="sc6a" value=1>
                                    <label for="sc6a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" id="sc6b" name="sc6" value=0.5>
                                    <label for="sc6b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="sw6"><br><input type="checkbox" name="sw6" id="sw6" value="yes">
                                    <label for="sw6">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="sg7">
                                    <label for="sg7">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc7" id="sc7a" value=1>
                                    <label for="sc7a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc7" id="sc7b" value=0.5>
                                    <label for="sc7b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="sw7"><br><input type="checkbox" name="sw7" id="sw7" value="yes">
                                    <label for="sw7">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="sg8">
                                    <label for="sg8">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc8" id="sc8a" value=1>
                                    <label for="sc8a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc8" id="sc8b" value=0.5>
                                    <label for="sc8b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="sw8"><br><input type="checkbox" name="sw8" id="sw8" value="yes">
                                    <label for="sw8">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="sg9">
                                    <label for="sg9">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc9" id="sc9a" value=1>
                                    <label for="sc9a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc9" id="sc9b" value=0.5>
                                    <label for="sc9b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="sw9"><br><input type="checkbox" name="sw9" id="sw9" value="yes">
                                    <label for="sw9">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="sg10">
                                    <label for="sg10">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc10" id="sc10a" value=1>
                                    <label for="sc10a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc10" id="sc10b" value=0.5>
                                    <label for="sc10b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="sw10"><br><input type="checkbox" name="sw10" id="sw10" value="yes">
                                    <label for="sw10">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="sg11">
                                    <label for="sg11">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc11" id="sc11a" value=1>
                                    <label for="sc11a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="sc11" id="sc11b" value=0.5>
                                    <label for="sc11b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="sw11"><br><input type="checkbox" name="sw11" id="sw11" value="yes">
                                    <label for="sw11">Weighted?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="year col m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <h3>Please enter your grade out of 100 and the number of credits (1 or 0.5) it was worth for each class in your <strong>sophomore</strong> year.</h3>
                            <div class="row">
                                <div class="input-field col m5">
                                    <input type="text" name="fg1" id="fg1">
                                    <label for="fg1">Grade</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="fc1" id="fc1a" value=1>
                                    <label for="fc1a">1</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="fc1" id="fc1b" value=0.5>
                                    <label for="fc1b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="fw1"><br><input type="checkbox" name="fw1" id="fw1" value="yes">
                                    <label for="fw1">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="fg2">
                                    <label for="fg2">Grade</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="fc2" id="fc2a" value=1>
                                    <label for="fc2a">1</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="fc2" id="fc2b" value=0.5>
                                    <label for="fc2b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="fw2"><br><input type="checkbox" name="fw2" id="fw2" value="yes">
                                    <label for="fw2">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="fg3">
                                    <label for="fg3">Grade</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="fc3" id="fc3a" value=1>
                                    <label for="fc3a">1</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="fc3" id="fc3b" value=0.5>
                                    <label for="fc3b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="fw3"><br><input type="checkbox" name="fw3" id="fw3" value="yes">
                                    <label for="fw3">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="fg4">
                                    <label for="fg4">Grade</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="fc4" id="fc4a" value=1>
                                    <label for="fc4a">1</label>
                                </div>
                                <div class="credit col m2">
                                    <br><input type="radio" name="fc4" id="fc4b" value=0.5>
                                    <label for="fc4b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="fw4"><br><input type="checkbox" name="fw4" id="fw4" value="yes">
                                    <label for="fw4">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="fg5" id="fg5">
                                    <label for="fg5">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" id="fc5a" name="fc5" value=1>
                                    <label for="fc5a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc5" id="fc5b" value=0.5>
                                    <label for="fc5b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="fw5"><br><input type="checkbox" name="fw5" id="fw5" value="yes">
                                    <label for="fw5">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="fg6">
                                    <label for="fg6">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc6" id="fc6a" value=1>
                                    <label for="fc6a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" id="fc6b" name="fc6" value=0.5>
                                    <label for="fc6b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="fw6"><br><input type="checkbox" name="fw6" id="fw6" value="yes">
                                    <label for="fw6">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="fg7">
                                    <label for="fg7">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc7" id="fc7a" value=1>
                                    <label for="fc7a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc7" id="fc7b" value=0.5>
                                    <label for="fc7b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="fw7"><br><input type="checkbox" name="fw7" id="fw7" value="yes">
                                    <label for="fw7">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="fg8">
                                    <label for="fg8">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc8" id="fc8a" value=1>
                                    <label for="fc8a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc8" id="fc8b" value=0.5>
                                    <label for="fc8b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="fw8"><br><input type="checkbox" name="fw8" id="fw8" value="yes">
                                    <label for="fw8">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="fg9">
                                    <label for="fg9">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc9" id="fc9a" value=1>
                                    <label for="fc9a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc9" id="fc9b" value=0.5>
                                    <label for="fc9b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="fw9"><br><input type="checkbox" name="fw9" id="fw9" value="yes">
                                    <label for="fw9">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="fg10">
                                    <label for="fg10">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc10" id="fc10a" value=1>
                                    <label for="fc10a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc10" id="fc10b" value=0.5>
                                    <label for="fc10b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="fw10"><br><input type="checkbox" name="fw10" id="fw10" value="yes">
                                    <label for="fw10">Weighted?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m5 input-field">
                                    <input type="text" name="fg11">
                                    <label for="fg11">Grade</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc11" id="fc11a" value=1>
                                    <label for="fc11a">1</label>
                                </div>
                                <div class="credit col m2">

                                    <br><input type="radio" name="fc11" id="fc11b" value=0.5>
                                    <label for="fc11b">0.5</label>
                                </div>
                                <div class="weighted col m2">
                                    <input type="hidden" value="no" name="fw11"><br><input type="checkbox" name="fw11" id="fw11" value="yes">
                                    <label for="fw11">Weighted?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="year col m6">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <h3>Please enter your grade out of 100 and the number of credits (1 or 0.5) it was worth for each class in your <strong>junior</strong> year.</h3>
                                <div class="row">
                                    <div class="input-field col m5">
                                        <input type="text" name="jg1" id="jg1">
                                        <label for="jg1">Grade</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="jc1" id="jc1a" value=1>
                                        <label for="jc1a">1</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="jc1" id="jc1b" value=0.5>
                                        <label for="jc1b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="jw1"><br><input type="checkbox" name="jw1" id="jw1" value="yes">
                                        <label for="jw1">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="jg2">
                                        <label for="jg2">Grade</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="jc2" id="jc2a" value=1>
                                        <label for="jc2a">1</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="jc2" id="jc2b" value=0.5>
                                        <label for="jc2b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="jw2"><br><input type="checkbox" name="jw2" id="jw2" value="yes">
                                        <label for="jw2">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="jg3">
                                        <label for="jg3">Grade</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="jc3" id="jc3a" value=1>
                                        <label for="jc3a">1</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="jc3" id="jc3b" value=0.5>
                                        <label for="jc3b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="jw3"><br><input type="checkbox" name="jw3" id="jw3" value="yes">
                                        <label for="jw3">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="jg4">
                                        <label for="jg4">Grade</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="jc4" id="jc4a" value=1>
                                        <label for="jc4a">1</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="jc4" id="jc4b" value=0.5>
                                        <label for="jc4b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="jw4"><br><input type="checkbox" name="jw4" id="jw4" value="yes">
                                        <label for="jw4">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="jg5" id="jg5">
                                        <label for="jg5">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" id="jc5a" name="jc5" value=1>
                                        <label for="jc5a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc5" id="jc5b" value=0.5>
                                        <label for="jc5b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="jw5"><br><input type="checkbox" name="jw5" id="jw5" value="yes">
                                        <label for="jw5">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="jg6">
                                        <label for="jg6">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc6" id="jc6a" value=1>
                                        <label for="jc6a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" id="jc6b" name="jc6" value=0.5>
                                        <label for="jc6b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="jw6"><br><input type="checkbox" name="jw6" id="jw6" value="yes">
                                        <label for="jw6">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="jg7">
                                        <label for="jg7">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc7" id="jc7a" value=1>
                                        <label for="jc7a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc7" id="jc7b" value=0.5>
                                        <label for="jc7b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="jw7"><br><input type="checkbox" name="jw7" id="jw7" value="yes">
                                        <label for="jw7">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="jg8">
                                        <label for="jg8">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc8" id="jc8a" value=1>
                                        <label for="jc8a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc8" id="jc8b" value=0.5>
                                        <label for="jc8b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="jw8"><br><input type="checkbox" name="jw8" id="jw8" value="yes">
                                        <label for="jw8">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="jg9">
                                        <label for="jg9">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc9" id="jc9a" value=1>
                                        <label for="jc9a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc9" id="jc9b" value=0.5>
                                        <label for="jc9b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="jw9"><br><input type="checkbox" name="jw9" id="jw9" value="yes">
                                        <label for="jw9">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="jg10">
                                        <label for="jg10">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc10" id="jc10a" value=1>
                                        <label for="jc10a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc10" id="jc10b" value=0.5>
                                        <label for="jc10b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="jw10"><br><input type="checkbox" name="jw10" id="jw10" value="yes">
                                        <label for="jw10">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="jg11">
                                        <label for="jg11">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc11" id="jc11a" value=1>
                                        <label for="jc11a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="jc11" id="jc11b" value=0.5>
                                        <label for="jc11b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <br>
                                        <input type="hidden" value="no" name="jw11"> 
                                        <input type="checkbox" name="jw11" id="jw11" value="yes">
                                        <label for="jw11">Weighted?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="year col m6">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <h3>Please enter your grade out of 100 and the number of credits (1 or 0.5) it was worth for each class in your <strong>senior</strong> year.</h3>
                                <div class="row">
                                    <div class="input-field col m5">
                                        <input type="text" name="seg1" id="seg1">
                                        <label for="seg1">Grade</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="sec1" id="sec1a" value=1>
                                        <label for="jc1a">1</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="sec1" id="sec1b" value=0.5>
                                        <label for="sec1b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="sew1"><br><input type="checkbox" name="sew1" id="sew1" value="yes">
                                        <label for="sew1">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="seg2">
                                        <label for="seg2">Grade</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="sec2" id="sec2a" value=1>
                                        <label for="sec2a">1</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="sec2" id="sec2b" value=0.5>
                                        <label for="sec2b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="sew2"><br><input type="checkbox" name="sew2" id="sew2" value="yes">
                                        <label for="sew2">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="seg3">
                                        <label for="seg3">Grade</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="sec3" id="sec3a" value=1>
                                        <label for="sec3a">1</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="sec3" id="sec3b" value=0.5>
                                        <label for="sec3b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="sew3"><br><input type="checkbox" name="sew3" id="sew3" value="yes">
                                        <label for="sew3">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="seg4">
                                        <label for="seg4">Grade</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="sec4" id="sec4a" value=1>
                                        <label for="sec4a">1</label>
                                    </div>
                                    <div class="credit col m2">
                                        <br><input type="radio" name="sec4" id="sec4b" value=0.5>
                                        <label for="sec4b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="sew4"><br><input type="checkbox" name="sew4" id="sew4" value="yes">
                                        <label for="sew4">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="seg5" id="seg5">
                                        <label for="seg5">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" id="sec5a" name="sec5" value=1>
                                        <label for="sec5a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="sec5" id="sec5b" value=0.5>
                                        <label for="sec5b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="sew5"><br><input type="checkbox" name="sew5" id="sew5" value="yes">
                                        <label for="sew5">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="seg6">
                                        <label for="seg6">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="sec6" id="sec6a" value=1>
                                        <label for="sec6a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" id="sec6b" name="sec6" value=0.5>
                                        <label for="sec6b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="sew6"><br><input type="checkbox" name="sew6" id="sew6" value="yes">
                                        <label for="sew6">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="seg7">
                                        <label for="seg7">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="sec7" id="sec7a" value=1>
                                        <label for="sec7a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="sec7" id="sec7b" value=0.5>
                                        <label for="sec7b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="sew7"><br><input type="checkbox" name="sew7" id="sew7" value="yes">
                                        <label for="sew7">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="seg8">
                                        <label for="seg8">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="sec8" id="sec8a" value=1>
                                        <label for="sec8a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="sec8" id="sec8b" value=0.5>
                                        <label for="sec8b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="sew8"><br><input type="checkbox" name="sew8" id="sew8" value="yes">
                                        <label for="sew8">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="seg9">
                                        <label for="seg9">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="sec9" id="sec9a" value=1>
                                        <label for="sec9a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="sec9" id="sec9b" value=0.5>
                                        <label for="sec9b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="sew9"><br><input type="checkbox" name="sew9" id="sew9" value="yes">
                                        <label for="sew9">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="seg10">
                                        <label for="seg10">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="sec10" id="sec10a" value=1>
                                        <label for="sec10a">1</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="sec10" id="sec10b" value=0.5>
                                        <label for="sec10b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="sew10"><br><input type="checkbox" name="sew10" id="sew10" value="yes">
                                        <label for="sew10">Weighted?</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m5 input-field">
                                        <input type="text" name="seg11">
                                        <label for="seg11">Grade</label>
                                    </div>
                                    <div class="credit col m2">

                                        <br><input type="radio" name="sec11" id="sec11a" value=1>
                                        <label for="sec11a">1</label>
                                    </div>
                                    <div class="credit col m2">
                                        
                                        <br><input type="radio" name="sec11" id="sec11b" value=0.5>
                                        <label for="sec11b">0.5</label>
                                    </div>
                                    <div class="weighted col m2">
                                        <input type="hidden" value="no" name="sew11"><br><input type="checkbox" name="sew11" id="sew11" value="yes">
                                        <label for="sew11">Weighted?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="button">
                    <input type="submit">
                </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>

</html>
