<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
      <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1> Your Unweighted GPA is <%=@unweightedresult%></h1>
    <h1> Your KAC Unweigted GPA is <%=@kacunweighted%></h1>
    <h1> Your Weighted GPA is <%=@weightedresult%></h1></h1>
  </body>
</html>